EXPO_PUBLIC_API_BASE_URL=http://localhost:5000/api
EXPO_PUBLIC_CLERK_PUBLISHABLE_KEY=pk_test_xxx
EXPO_PUBLIC_GEOAPIFY_KEY=your_geoapify_key
EXPO_PUBLIC_SENTRY_DSN=https://xxx@xxx.ingest.sentry.io/xxx
EXPO_PUBLIC_MAPS_PROVIDER=geoapify
EXPO_PUBLIC_GOOGLE_MAPS_KEY=
